.previewList {
    width: 492px;
    overflow: hidden;

    &Track {
        display: flex;
        white-space: nowrap;
    }

    &Preview {
        min-width: 154px;
        margin: 5px;
        display: inline-block;
        height: 80px;
        background: #eaeaea;
    }

    &Image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
