.wolfGallery {

    &Wrapper {
        width: 492px;
        overflow: hidden;
    }

    &Track {
        display: flex;
        white-space: nowrap;
    }

    &Preview {
        width: 154px;
        padding: 5px;
        display: inline-block;
        height: 80px;
    }

    &Image {
        display: block;
        width: 154px;
        height: 80px;
    }
}