.wolfGallery {
    user-select: none;
    
    &MainPhoto {
        margin-bottom: 5px;
    }

    &PreviewList {
        margin: 0 auto;
    }

    &Container {
        position: relative;
    }

    &Navigation {
        position: absolute;
        bottom: 10px;
        left: 50%;
        z-index: 3;
        transform: translate(-50%, 0);
    }
}